/* body {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
} */
/* one time css */

.admin-bar .header-bottomarea {
    margin-top: 30px;
}
section#shadow-host-companion {
    padding: 0;
}
.footer-top {
    background: cadetblue;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* blog css */
.blog-wrapper .item .post-img {
    height: auto;
}

@media (max-width: 767px) {
    .standard-logo {
        padding: 30px 0;
    }
}